SECRET_KEY=DJANGO_SECRET_KEY
DEBUG=True/False
EMAIL_HOST_USER=YOUR_EMAIL_ID
EMAIL_HOST=smtp.gmail.com
EMAIL_USE_TLS=True
EMAIL_HOST_PASSWORD=PASSWORD_FOR_EMAIL_ACCOUNT
STATIC_PATH=STATIC_PATH_FOR_YOUR_PROJECT
TWILIO_SID=YOUR_TWILIO_SID
TWILIO_AUTH_TOKEN=YOUR_TWILIO_AUTH_TOKEN
TWILIO_NUM=TWILIO_PHONE_NUM