body{
    background-color:rgba(228, 228, 235, 0.329);
    font-size: 20px;
    font-weight: 300;
}

form{
    border: 3px solid rgba(0, 0, 0, 0.575);
    border-radius : 0.2cm;
    box-sizing : border-box;
    position : relative;
    margin-left: auto;
    margin-right: auto;
    width:fit-content;
    background-color: rgba(206, 211, 212, 0.63);
    padding: 0 30px 10px 20px;
    font-weight: 500;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

h2{
    font-size:300;
    color:rgba(0, 0, 0, 0.911); 
}

#name{ margin : 0 0 6px 0; }
#desc { margin : 6px 0;}
#desc_label {
    text-align: right;
    vertical-align: top;
}
#loc{
    margin : 6px 0 6px 16px;
    -ms-perspective-origin-x: 40cm;
}
#from{
    margin : 6px 0 6px 46px;
}
#to{
    margin : 6px 0 6px 72px;
}
#deadline{
    margin : 6px 0 6px 17px;
}
#pswd{
    margin : 6px 0 6px 0px;
}
#email{
    margin : 6px 0 6px -1px;
}
#reset{
    margin : 5px 10px 5px 7px;
    padding: 5px 12px 5px 12px;
    background-color: rgba(0, 0, 0, 0.651);
    border: 1px solid #21252594;
    border-radius: 0.1cm;
    color: white;
}
#submit{
    margin : 5px 10px 5px 7px;
    padding: 5px 12px 5px 12px;
    background-color: rgba(0, 0, 0, 0.651);
    border: 1px solid #21252594;
    border-radius: 0.1cm;
    color: white;
}
#reset:hover{
    background-color: rgba(0, 0, 0, 0.85);
}
#submit:hover{
    background-color: rgba(0, 0, 0, 0.85);
}
#fromTime{
    margin : 0.5cm 0 0 0;
}
#home{
    margin : 0 10px 10px 7px;
    padding: 5px 12px 5px 12px;
    background-color: rgba(0, 0, 0, 0.651);
    border: 1px solid #21252594;
    border-radius: 0.1cm;
    color: white;
}
div.container {
    position: relative;
    font-size: 20px;
    left : 0;
    right : 0;
    bottom: 0;
    top : 15px;
    text-align: center;
}