body{
    background-color:rgba(228, 228, 235, 0.329);
    font-size: 20px;
    font-weight: 300;
}

form{
    border: 3px solid rgba(0, 0, 0, 0.575);
    border-radius: 0.2cm;
    box-sizing: content-box;
    position : relative;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    height: fit-content;
    background-color: rgba(206, 211, 212, 0.63);
    padding-left : 20px;
    padding-bottom: 10px;
    overflow: hidden;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h2{
    font-size: 30px;
    color:rgba(0, 0, 0, 0.911); 
    padding-left: 2cm;
    padding-right: 2cm;
}

#name{ 
    margin : 6px 0 6px 9%; 
}
#contact{ 
    margin : 6px 0 6px 0; 
}
#email{ 
    margin : 6px 0 6px 3.7%; 
}
.register{ 
    margin : 6px 0 6px 0; 
}
#people{ 
    margin : 6px 0 6px 0; 
}
#reset{
    margin : 5px 10px 5px 7px;
    padding: 5px 12px 5px 12px;
    background-color: rgba(0, 0, 0, 0.671);
    border: 1px solid #21252594;
    border-radius: 0.1cm;
    color: white;
}
#submit{
    margin : 5px 10px 5px 7px;
    padding: 5px 12px 5px 12px;
    background-color: rgba(0, 0, 0, 0.671);
    border: 1px solid #21252594;
    border-radius: 0.1cm;
    color: white;
}
#submit:hover{
    background-color: rgba(0, 0, 0, 0.85);
}
#reset:hover{
    background-color: rgba(0, 0, 0, 0.85);
}
#home{
    margin : 10px 10px 5px 7px;
    padding: 5px 12px 5px 12px;
    background-color: rgba(0, 0, 0, 0.651);
    border: 1px solid #21252594;
    border-radius: 0.1cm;
    color: white;
}
#sel{
    margin : 0 0 0 4%;
}
div.container {
    position: relative;
    font-size: 20px;
    left : 0;
    right : 0;
    bottom: 0;
    top : 10px;
    text-align: center;
}
.eventList .event{
    border: 2.5px solid black;
    border-radius: 0.3cm;
    background-color:rgba(116, 52, 161, 0.9);
    color: rgb(255, 255, 255);
    box-sizing: border-box;
    box-shadow: 5px 5px silver;
    width: 15cm;
    padding:10px;
    float:left;
    position: relative;
    margin-left: 2.5%;
    margin-bottom: 2%; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.eventList{
    position: relative;
}
#event_name{
    font-size: larger;
    color:cyan;
}