<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Event Manager App</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'home_page.css' %}">
</head>

<body>
    <div style="text-align:center;">
    <h1 align="center"> Event Manager App </h1>
    <button onclick="window.location.href='http://127.0.0.1:8000/eventRegistration'"> Event Registration </button><br>
    <button onclick="window.location.href='http://127.0.0.1:8000/participateRegistration'"> Participate  Registration </button><br>
    <button id="db" onclick="window.location.href='http://127.0.0.1:8000/eventDashboard'"> Event Dashboard </button>
    </div>
</body>

</html>